@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic)
// custom code sass
$h-100: 100%
$px-10: 10px
$px-50: 50px
$px-200: 200px
$px-300: 300px
$px-32: 18px
$px-700: 700px
$center: center
$cur-point: pointer
$ziro: 0
$n: none
$shadow-block: 0 0 4px #1a1a22

//$palette: rgba()

@mixin transition($time)
  transition: $time ease


html,
body,
.container,
.row
  height: $h-100

body
  background: url('../img/background.jpg') no-repeat center
  background-size: cover

  .card
    box-shadow: 0 0 41px #555
    display: $n
    height: $px-300
    max-width: $px-700
    padding: $ziro

  .card-header
    color: #8d8c8c
    font: 14px 'PT Sans Caption', sans-serif
    text-transform: uppercase
    text-align: $center

  .card-body
    padding-bottom: 0
    overflow: hidden

  .btn
    &.btn-success
      cursor: $cur-point
      font: 14px 'PT Sans Caption', sans-serif
      height: $px-50
      margin-top: 10px
      text-transform: uppercase
      width: $px-200

#responce
  display: $n
  margin: $ziro

  .icon-docs,
  .sh-link
    cursor: $cur-point

  .sh-link
    line-height: 40px
    margin-left: $px-10

.ajax-loader
  bottom: 10px
  display: $n
  position: absolute
  right: 10px
